@page
@model internship.features.core.Pages.CPlayerModel
@{
    ViewData["Title"] = "Create Player";
}
<h2>Create a New Player</h2>
<form method="post">
    <div>
        <label asp-for="TeamId"></label>
        <select asp-for="TeamId" asp-items="Model.TeamOptions">
            <option value="">Select a team</option>
        </select>
        <span asp-validation-for="TeamId" style="color:red"></span>
    </div>
    <div style="margin: 10px  auto 10px auto">
        <label asp-for="NewPerson.Name"></label>
        <input asp-for="NewPerson.Name" />
        <span asp-validation-for="NewPerson.Name" style="color:red"></span>

        <label asp-for="NewPerson.DateOfBirth"></label>
        <input asp-for="NewPerson.DateOfBirth" />
        <span asp-validation-for="NewPerson.DateOfBirth" style="color:red"></span>

        <label asp-for="NewPerson.Nationality"></label>
        <input asp-for="NewPerson.Nationality" />
        <span asp-validation-for="NewPerson.Nationality" style="color:red"></span>

        <label asp-for="period"></label> 
        <input asp-for="period" />
        <span asp-validation-for="period" style="color:red"></span>
    </div>
    <button type="submit">Create</button>
</form>
<hr />