@page "{id:int}"
@model internship.Pages.TeamDetailsModel
@{
    ViewData["Title"] = "Team Details";
}

<h2 style="text-align: center">@Model.Team?.Name</h2>
<div style="display: flex; flex-direction: column; align-items: center;">
    <p style="margin: 2px; font-weight: normal;">
        <span style="font-weight: normal; color: gray;">Country:@Model.Team?.Country</span>
    </p>
    <p style="margin: 2px; font-weight: normal;">
        <span style="font-weight: normal; color: gray;">City:@Model.Team?.City</span>
    </p>
    <p style="margin: 2px; font-weight: normal;">
        <span style="font-weight: normal; color: gray;">Stadium:@Model.Stadium?.Name (@Model.Stadium?.Capacity)</span>
    </p>
</div>
<hr/>
<div style="display: flex; flex-wrap: wrap; gap: 1rem; width: 50%">
    <h4>Players:</h4>
    <ul style="list-style-type: none">
        @foreach (var person in Model.Persons)
        {
            if (person != null)
            {
                <li >@person.Name</li>
            }
        }
    </ul>
    <h4>Standings:</h4>
    <ul style="list-style-type: none">
    @foreach (var standing in Model.Standings.Where(s => s?.JunctionTournament != null))
    {
        
            var tournament = Model.Tournaments
            .FirstOrDefault(t => t.Id == standing?.JunctionTournament?.TournamentId);
        <li>
            <strong>@tournament?.Name (@tournament?.Year)</strong><br />
            <div style="margin-left: 1rem;">
                Matches: @standing?.Matches <br />
                Won: @standing?.Won <br />
                Draw: @standing?.Draw <br />
                Lost: @standing?.Lost
            </div>
        </li>
    }
    </ul>
    
</div>