@page "{id:int}"
@model internship.Pages.TournamentDetailsModel
@{
    ViewData["Title"] = "Tournament Details";
}
<h2 style="text-align: center">@Model.Tournament?.Name (@Model.Tournament?.Year)</h2>
